<template>
    <div class="modal-card" @keyup.ctrl.exact.enter="save">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit</p>
        </header>

        <section class="modal-card-body">
            <div class="error has-text-danger" v-if="errorMessage">{{ errorMessage }}</div>

            <b-field label="Name">
                <b-input
                    type="text"
                    v-model="name"
                />
            </b-field>

        </section>

        <footer class="modal-card-foot">
            <b-button type="is-primary" :disabled="!name.trim()" @click="save">
                Save
            </b-button>
        </footer>
    </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: 'EditUserForm',

    data() {
        return {
            name: this.user.name,
            errorMessage: ''
        };
    },

    props: {
        user: {
            type: Object,
            required: true
        }
    },

    methods: {
        ...mapActions([
            'updateUserName',
        ]),

        async save() {
            try {
                const user = await this.updateUserName({id: this.user.id, name:  this.name});

                this.$parent.close();
            } catch (error) {
                this.showErrorMessage(error.message);
            }
        },

        showErrorMessage(msg) {
            this.errorMessage = msg;
        },
    },


};
</script>

<style scoped>
.error {
    padding: 10px 0;
}
</style>
