<template>
    <div class="modal-card" @keyup.ctrl.exact.enter="save">
        <header class="modal-card-head">
            <p class="modal-card-title">Add</p>
        </header>

        <section class="modal-card-body">
            <div class="error has-text-danger" v-if="errorMessage">{{ errorMessage }}</div>

            <b-field label="Email">
                <b-input
                    type="email"
                    v-model="email"
                />
            </b-field>

            <b-field label="Name">
                <b-input
                    type="text"
                    v-model="name"
                />
            </b-field>

            <b-field label="Password">
                <b-input
                    type="password"
                    v-model="password"
                />
            </b-field>

        </section>

        <footer class="modal-card-foot">
            <b-button type="is-primary" :disabled="!name.trim()" @click="save">
                Save
            </b-button>
        </footer>
    </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: 'NewUserForm',

    data: () => ({
        name: '',
        email: '',
        password: '',
        errorMessage: ''
    }),

    methods: {
        ...mapActions([
            'addUser',
        ]),

        async save() {
            try {
                const user = await this.addUser({email: this.email, name:  this.name, password: this.password});

                this.$parent.close();
            } catch (error) {
                this.showErrorMessage(error.message);
            }
        },

        showErrorMessage(msg) {
            this.errorMessage = msg;
        }
    }
};
</script>

<style scoped>
.error {
    padding: 10px 0;
}
</style>
