<template>
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>
            <figure class="media-left">
                <img
                    v-if="user.avatar"
                    class="image is-64x64 is-rounded fit"
                    :src="user.avatar"
                    alt="User avatar"
                >
                <DefaultAvatar v-else class="image is-64x64" :user="user" />
            </figure>
        </td>
        <td align="center">
            <b-button type="is-warning" @click="$emit('edit-user', user.id)">Edit</b-button>
            <b-button type="is-danger" @click.prevent="deleteUser(user.id)">Delete</b-button>
        </td>
    </tr>
</template>

<script>
    import { mapActions } from 'vuex';
    import DefaultAvatar from './DefaultAvatar'
    export default {
        name: "UserItem",
        components:{
            'DefaultAvatar': DefaultAvatar
        },
        props: {
            user: {
                type: Object,
                required: true
            }
        },
        methods: {
            ...mapActions([
                'deleteUser',
            ])

        },
    }
</script>

<style scoped>

</style>
