<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <a href="#" class="float-left btn btn-dark btn-sm"
                           @click.prevent="onAddUserClick()">
                            <i class="fa fa-fw fa-plus-circle"></i>
                            Add
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-10">
            <div class="col">
                <template>
                    <section>
                        <div class="block">
                            <b-radio v-model="radio"
                                     name="name"
                                     native-value="name">
                                Name
                            </b-radio>
                            <b-radio v-model="radio"
                                     name="name"
                                     native-value="email">
                                Email
                            </b-radio>
                        </div>
                    </section>
                </template>
                <b-field >
                    <b-input
                        type="text"
                        v-model="filterValue"
                    />
                </b-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">

                <table class="table table-striped table-bordered" id="products">
                    <thead>
                    <tr class="bg-primary text-white">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Avatar</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="user in users">
                        <UserItem
                            :key="user.id"
                            :user="user"
                            @edit-user="onEditUser"
                        />
                    </template>
                    </tbody>
                </table>
            </div>
        </div>
        <b-modal :active.sync="isNewUserModalActive" has-modal-card>
            <NewUserForm />
        </b-modal>

        <b-modal :active.sync="hasEditUser" has-modal-card>
            <EditUserForm
                :user="editUser"
            />
        </b-modal>
    </div>
</template>

<script>
import UserItem from './User/UserItem';
import NewUserForm from './User/NewUserForm';
import EditUserForm from './User/EditUserForm';
import { mapGetters, mapActions } from 'vuex';

export default {
    components: {
        'UserItem': UserItem,
        'NewUserForm': NewUserForm,
        'EditUserForm': EditUserForm
    },
    data() {
        return {
            isNewUserModalActive: false,
            editUser: null,
            radio: 'name',
            filterValue: ''
        };
    },
    created() {
        this.fetchUsers();
    },
    methods: {
        ...mapActions([
            'fetchUsers',
        ]),
        ...mapGetters([
            'getUser',
        ]),
        onAddUserClick() {
            this.showAddUserModal();
        },

        showAddUserModal() {
            this.isNewUserModalActive = true;
        },

        onEditUser(id) {
            const func = this.getUser(id);
            this.editUser = func(id);
        },

    },
    computed: {
        ...mapGetters([
            'getUsers',
        ]),
        users() {
            if (this.filterValue && this.radio){
                const array = Object.values(this.getUsers);
                return array.filter(user => user[this.radio].indexOf(this.filterValue) >= 0);
            }
            return this.getUsers;
        },
        hasEditUser: {
            get() { return this.editUser !== null; },

            set(val) {
                this.editUser = null;
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    @import "~bulma/sass/utilities/initial-variables";
    .image-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .file-input-container {
        display: flex;
        align-items: center;
    }
    .margin-10{
        margin: 10px 0
    }
</style>

